@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* APP */
/*body {
  font-family: "Roboto", sans-serif;
}*/
body {
  font-family: "Fahkwang", sans-serif;
}

.flex-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}

.flex-btn {
  display: flex;
  justify-content: center;
}

/*----------navbar-----------*/

.navbar {
	background-color: #ffffff;
	padding:18px;
}
  
nav {
	box-shadow: 0 2px 6px 0 #16151533;
}


.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
	  font-weight: 600;
	  font-size: 30px ;
	  color:#e14790;
}
  
.nav-item {
	font-weight: 200;
	font-style: normal;
	font-size: 25px ;
	margin-right:30px;
}
  
.nav-link:hover {
	color: #e14790;
}

/*------JUMBOTRON-------*/

.jumbotron {
  width: 1320px;

  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px;
  color:#ffffff;
  position: relative;
}

.display-4 {
  font-size: 60px;
  font-weight: 200;
  padding:25px;
  position: absolute;
  top: 100px;
  left: 20px;
}

.lead {
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  left: 50px;
  bottom: 180px;
}

.btn {
  margin: 25px 0 0 25px;
  color:#f7fcfc;
  background-color:#1ab0b1;
  border-color: #1ab0b1;
  width: 200px;
}
.btn-primary:hover {
  color:#f7fcfc;
  background-color:#269797;
  border-color: #269797;
}

.btn-secondary {
    background-color:#e14790;
    border:#e14790;
}

.btn-shop {
	position: absolute;
  	left: 30px;
  	bottom: 120px;
}

/* Pagina shop -  */
.img-thumbnail {
  width: 320px;
    
}

/*------Carousel-------*/


h2 {
	color:#e14790;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	position: relative;
	margin: 30px 0 80px;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}

h4 { 
    color:#595959,
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .carousel-item .btn {
	color: #ffffff;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: #e14790;
	border: none;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: #fff;
	background: #1ab0b1;
	border-color: #1ab0b1;
	box-shadow: none;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price s {
	color: #595959;
	margin-right: 5px;
}
.carousel .item-price span {
	color:#e14790;
	font-size: 110%;
}	
.carousel .carousel-indicators {
	bottom: -50px;
    
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #1ab0b1;
}

/*------Footer-------*/

#footer {
	padding-top:50px;
  }
  
#footer h6 {
	color: #1ab0b1;
  }
  
#info i{
	  margin-right: 10px;
	  color: #e14790;
}

/*------Contatti-------*/

.masthead {
  height:200px;
  background-color:#1ab0b1;
  padding:35px;
}


/* Pagination */

.page-link  {
    background-color:#ffffff;
    border: #ffffff;
    color:#e14790;
}

.active>.page-link{
    background-color: #e14790;
    border: #1ab0b1;
    color:#ffffff;
}

/*----color guide----*/
/*
rosa chiaro #fceef5
fucsia #e14790
teal #1ab0b1
viola #40267d

*/


